---
---

@charset "utf-8";

// Our variables
$base-font-family:  sans-serif;
$base-font-size:    24px;
$base-line-height:  1.5;
$link:              rgba(25, 117, 229, 0.3);
$link-hover:        rgba(255, 51, 66, 0.5);
$spacing-unit:      1.5em;
$blue3:             rgba(25, 117, 229, 0.3);
$blue1:             rgba(51, 168, 255, 0.5);
$blue2:             rgba(51, 66, 255, 0.5);
$purple1:           rgba(138, 51, 255, 0.5);
$magenta1:          rgba(240, 51, 255, 0.5);
$magenta2:          rgba(255, 51, 168, 0.5);
$coral1:            rgba(255, 51, 66, 0.5);
$body-background:   #f2f2f2;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "layout",
        "syntax-highlighting"
;
